.info-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__texts {
        width: 60%;
    }

    &__image {
        width: 40%;

        img {
            width: 100%;
        }
    }

    &__download {
        border: 2px solid #40434e;
        display: flex;
        flex-direction: row;
        padding: 20px;
        align-items: center;

        a {
            @include btn-download;
            height: 60px;
            padding: 24px;
            margin-right: 0;
        }
    }

    &__download-title {
        font-size: 22px;
        color: #ff5b5b;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .box-info {
        &__header {
            background-color: #32333b;
            padding: 10px;
            color: var(--white);
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        
        &__body {
            margin-bottom: 20px;

            ul {
                li {
                    line-height: 24px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__texts {
            width: 100%;
        }

        &__image {
            display: none;
        }
    }
}