.info-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__texts {
        width: 68%;
    }

    &__card {
        width: 30%;
        margin-left: 2%;
    }

    .box-info {
        &__header {
            background-color: #32333b;
            padding: 10px;
            color: var(--white);
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &__body {
            margin-bottom: 20px;

            ul {
                li {
                    line-height: 24px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        &__texts {
            width: 100%;
        }
    }
}
