.card {
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        background-color: #32333b;
        padding: 10px;
        color: var(--white);
    }

    &__body {
        background-color: var(--white);
        padding: 10px;
    }
}