.download-page {
    padding: 20px 80px;

    h2 {
        font-size: 22px;
        margin: 20px 0;
        font-weight: 500;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .download-card {
        width: 49%;
    }

    &__required {
        border-top: 2px solid #40434e;
        margin-top: 50px;
    }
}
